body{
  background-color: black;
}

button{
  padding-bottom: -400px;
  width: 100px;



}

h2{
  color: white;
}
.Circle1{
  //background: white;
  background: linear-gradient(blue, red, green);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 80px #ea4c89, inset 0 0 8px linear-gradient(blue, red);
  transition: opacity 0.4s ease;
  //text-shadow: 0 0 2000px black, 0 0 2000px black, 0 0 1000The px white, 0 0 200px white, 0 0 25px black, 0 0 30px black, 0 0 800px;
}

.Circle2{
  background: linear-gradient(pink, orange, white);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  //box-shadow: 0 0 80px #ea4c89, inset 0 0 8000px red;
  //text-shadow: 0 0 2000px black, 0 0 2000px black, 0 0 1000The px white, 0 0 200px white, 0 0 25px black, 0 0 30px black, 0 0 800px;
}

.Circle3{
  background: linear-gradient(yellow, purple, brown);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  //box-shadow: 0 0 80px #ea4c89, inset 0 0 800px green;
  //text-shadow: 0 0 2000px black, 0 0 2000px black, 0 0 1000The px white, 0 0 200px white, 0 0 25px black, 0 0 30px black, 0 0 800px;
}


.Circle4{
  //background: white;
  background: linear-gradient(blue, red, green);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 80px #ea4c89, inset 0 0 8px linear-gradient(blue, red);
  //text-shadow: 0 0 2000px black, 0 0 2000px black, 0 0 1000The px white, 0 0 200px white, 0 0 25px black, 0 0 30px black, 0 0 800px;
}

.Circle5{
  background: linear-gradient(pink, orange, white);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  //box-shadow: 0 0 80px #ea4c89, inset 0 0 8000px red;
  //text-shadow: 0 0 2000px black, 0 0 2000px black, 0 0 1000The px white, 0 0 200px white, 0 0 25px black, 0 0 30px black, 0 0 800px;
}

.Circle6{
  background: linear-gradient(yellow, purple, brown);
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  //box-shadow: 0 0 80px #ea4c89, inset 0 0 800px green;
  //text-shadow: 0 0 2000px black, 0 0 2000px black, 0 0 1000The px white, 0 0 200px white, 0 0 25px black, 0 0 30px black, 0 0 800px;
}
